[user]
	name = Pete Travis
	email = ptravis@groupon.com
	signingkey = 3E8E3D99
[diff]
	external = /usr/bin/meld
[push]
	default = upstream
[merge]
	tool = meld
[include]
  path = /home/pete/.git.d/
[bz]
  browser=firefox3
  default-tracker=bugzilla.redhat.com
[bz-tracker "bugzilla.redhat.com"]
  default-product = Fedora Documentation
  default-version = rawhide

